*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background:  #222;
}

h1,ul{
    margin: 10px;
    color: white;
    text-align: center;
    
}
  
     
     
 

 .card{
    margin: 20px auto;/*auto: block, width*/
    width: 1000px;
    height: auto;
    border: 10px solid wheat; 
    border-radius: 20px;
    padding: 20px 0;
    border-color: aqua;
}
